#header img {
    width: 80px;
}

#texto {
    background-color:dimgray;
    color:white;
    font-size: small;
}

.carousel-caption {
    position:absolute; 
    right: 5%;
    top: 125px; 
    left: 50%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: right;
    
}

#footer {

    background-color: #214d67;
    color: white;

}